
$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: #000;
$font-size: 1rem;
$line-height: 1.5;
$font-family: 'Space Grotesk', Roboto, sans-serif, Helvetica Neue, Helvetica, Arial, sans-serif;
$margins: 20px;

$s-green: #1DB954;
$s-grey: #586F6B;
$s-white: #ffffff;
$s-dark: #191414;
$s-black: #000000;

