html {
    //font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
    body {
      font-family: $font-family;
      color: $font-color; 
      margin: 0;
      position: relative;
    }
  }
  
  
  
  .main {
  height: 100%;
  //min-height: 100vh;
  width: 100%;
  //display: flex;
  //flex-direction: row;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(496px, 1fr));
  overflow: hidden;
  position: fixed;
  justify-content: space-evenly;
  
  .main-left {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background-color: $s-grey;
    position: relative;
    display: flex;
    flex-direction: row;
    @media (max-width: 991.98px) {
      min-height: auto;
    }
  
    
    .s-profile-box {
      background-color: rgba(0,0,0,.4);
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      z-index: 1;
      @media (max-width: 991.98px) {
        height: auto;
      }
      
  
      .s-profile-box-top {
        height: 50%;
        width: 100%;
        //background-image:url('https://source.unsplash.com/random');
        background-size: cover;
        background-position: 50% 50%;
  
        .profile-details {
          height: 100%;
          width: 100%;
          background-color: rgba(0,0,0,.4);
          color: $s-white;
          
  
          .profile-username {
            margin: 0;
            margin-left: 16px;
            font-size: 56px;
          }
  
          .mobile-details {
            margin-left: 16px;
            /*
            @media (min-width: 992px) {
              display: none;
            }
            */
          }
        }
      }
      .s-profile-box-btm {
        height: 50%;
        background-color: $s-grey;
        .section-container {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          // .section-title-container {
            
          // }
        }
      }
    }
    .clip-container {
      z-index: 0;
      height: 100%;
      width: 100%;
      background-color: $s-dark;
  
      // background-size: cover;
      // background-position: 50% 50%;
      // background-repeat: no-repeat;
  
      iframe {
        position: relative;
        width: 100%;
        height: 100%;
        border: none;
        //right: 40vw;
      }
    }
  }
  .main-right {
    background-color: $s-black;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    position: relative;
    overflow: auto;
  
    // .right-header {
    //   position: absolute;
    // }
    .top-tracks-section {
      height: 100vh;
      max-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
  
      .top-tracks-item {
        height: 15%;
        width: 100%;
        background-color: $s-black;
        color: $s-white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        border-top: 2px solid $s-dark;
        border-bottom: 2px solid $s-dark;
  
        .top-track-num {
  
        }
        .top-track-art {
          height: 100%;
          width: 150px;
          .track-art {
            height: 100%;
            width: 100%;
            background-image:url('https://source.unsplash.com/random');
            background-size: cover;
            background-position: 50% 50%;
          }
        }
        .top-track-names {
          
        }
        .top-track-album {
          
        }
        .top-track-time {
          
        }
        .top-track-more {
          
        }
      }
    }
    .top-artist-section {
      height: 100vh;
      width: 100%;
      max-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
  
      .top-artist-item {
        height: 15%;
        width: 100%;
        background-color: $s-black;
        border-top: 2px solid $s-dark;
        border-bottom: 2px solid $s-dark;
  
        position: relative;
        background-image:url('https://source.unsplash.com/random');
        background-size: cover;
        background-position: 50% 50%;
  
        .top-artist-title {
          position: absolute;
          background-color: rgba(0,0,0,0.6);
          color: $s-white;
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          
        }
      }
    }
    .playlist-section {
      height: auto;
      //max-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
  
      .playlist-item {
        height: calc(100vh/2.5);
        width: 100%;
        background-color: $s-black;
        border-top: 2px solid $s-dark;
        border-bottom: 2px solid $s-dark;
        position:relative;
        
        .playlist-title {
          position: absolute;
          height: 100%;
          width: 100%;
          color: $s-white;
          background-color: rgba(0,0,0,.7);
          display:flex;
          justify-content: center;
          align-items: center;
          transition: background-color ease-in-out .3s;
        }
        .playlist-imgs {
          
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          height: 100%;
          .playlist-img {
            background-image:url('https://source.unsplash.com/random');
            background-size: cover;
            background-position: 50% 50%;
            height: 100%;
            width: 100%;
          }
        }
        &:hover {
          .playlist-title {
            background-color: rgba(0,0,0,.4);
            transition: background-color ease-in-out .3s;
          }
        }
      }
    }
    .recent-artist-section {
      height: 100vh;
      width: 100%;
      max-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
  
      .recent-artist-item {
        height: 15%;
        width: 100%;
        background-color: $s-black;
        border-top: 2px solid $s-dark;
        border-bottom: 2px solid $s-dark;
  
        position: relative;
        background-image:url('https://source.unsplash.com/random');
        background-size: cover;
        background-position: 50% 50%;
  
        .recent-artist-title {
          position: absolute;
          background-color: rgba(0,0,0,0.6);
          color: $s-white;
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          
        }
      }
    }
    .followers-section {
      height: 100vh;
      width: 100%;
      max-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; 
      .followers-item {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .follower-img {
          height: 100%;
          width: 50%;
          background-image:url('https://source.unsplash.com/random');
          background-size: cover;
          background-position: 50% 50%;
          .follower-img-shade {
            background-color: rgba(0,0,0,0.6);
            height: 100%;
            width: 100%;
          }
        }
        .follower-name {
          width: 50%;
          color: $s-white;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .following-section {
      height: 100vh;
      width: 100%;
      max-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; 
      .following-item {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .following-img {
          height: 100%;
          width: 50%;
          background-image:url('https://source.unsplash.com/random');
          background-size: cover;
          background-position: 50% 50%;
          .following-img-shade {
            background-color: rgba(0,0,0,0.6);
            height: 100%;
            width: 100%;
          }
        }
        .following-name {
          width: 50%;
          color: $s-white;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  }

  .profile-box-link {
    color: #fff;
    font-size:20px;
    transition: color ease-in-out .3s;
    &:hover {
      color: $s-green;
      transition: color ease-in-out .3s;
    }
  }

  .clip-container {
    height: 100%;
    width: 100%;
  }

  .app-header {
    cursor: pointer;
    display: none;
    position: absolute;
    z-index: 10;
    right: 20px;
    top:8px;
    height:32px;
    width:32px;
    .refresh-btn {
      height: 100%;
      width: 100%;
      background-image: url("../../assets/imgs/close.svg");
      background-size: 80%;
      background-repeat: no-repeat;
    }
    &.reveal-close {
      display: block;
    }
    &:hover {
      .refresh-btn {
        background-image: url("../../assets/imgs/close_hover.svg");
      }
    }
  }